
body {
	width: 80em;
	margin: 3em auto 0 auto;
}

.header {
	text-align: center;
}

.price-calculator {
	margin: 3em 10em 5em 10em;
}

.price-calculator .value {
	text-align: right;
	border: 0;
	color: #f6931f;
	font-weight: bold;
	width: 100%;
}

.price-calculator .value-container {
	text-align: right;
	width: 100%;
}

.price-calculator .result-container {
	text-align: center;
	font-weight: bold;
	border-top: 2px solid #f0f0f0;
	margin-top: 0.5em;
	padding-top: 2em;
}

