
body {
	width: 80%;
	margin: 3em auto 0 auto;
	font-family: Tahoma, Verdana, Arial, sans-serif;
}

.header {
	text-align: center;
}

.price-calculator {
	margin: 3em 0 5em 0;
}

.price-calculator .value {
	text-align: right;
	border: 0;
	font-weight: bold;
	width: 100%;
}

.price-calculator .value-container {
	text-align: right;
}

.price-calculator .result-container {
	text-align: center;
	font-weight: bold;
	border-top: 2px solid #f0f0f0;
	margin-top: 0.5em;
	padding-top: 2em;
}

.slider-container {
	margin-top: 1em;
}

.provider-container .provider {
	width: 100%;
}

.price-calculator .value-label {
	text-align: center;
	font-weight: bold;
}
